<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .abd {
        color: yellow;
        background-color: red;

    }

body{
    background-color:blue;
}
    </style>
</head>
<body>
<h1 style="color:blue;background-color:yellow;font-size:80px;">start</h1>
<h2 class="abd">future labs</h2>
<p>starting development</p>
<p class="abd">starting development</p>
<p>happy costumer</p>
<a href="{%  url 'fun2' %}"><button style="padding:15px 30px;">click</button>


</body>
</html>
